@import 'variables.scss';
@import 'reset.scss';
@import 'fonts.scss';
@import 'common.scss';

body {
    font-family: 'Roboto', sans-serif;
}

h {
    &1 {
        font-size: 2.25rem;
        margin-bottom: 5.75rem;
        text-align: center;
        
        &:after {
            content: '';
            position: absolute;
            bottom: -35%;
            width: 10%;
            height: 7px;
            background-color: $yellow;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            z-index: -1;
        }
    }

    &2 {
        font-size: 1.5rem;
        margin-bottom: 1.5em;
        
        &:after {
            content: '';
            position: absolute;
            height: 5px;
            width: 20px;
            background-color: $yellow;
            left: 0px;
            bottom: -7px;
        }
    }

    &3 {
        font-size: 1.25rem;
        margin-bottom: 1.5em;
        
        &.number {
            &::before {
                font-weight: bold;
                margin-right: 0.5rem;
                background-color: $yellow;
                padding: .25rem .5rem;
                line-height: 1;
            }

            &1::before {
                content: '1';
            } 

            &2::before {
                content: '2';
            }

            &3::before {
                content: '3';
            } 
        }
    }

    &1, &2, &3 {
        position: relative;
    }
}

section {
    margin-bottom: 3rem;
}

p {
    margin-bottom: .75rem;
    line-height: 1.55;
    text-align: justify;
}

main {
    padding-top: 2.5rem;
}
