@import url(https://fonts.googleapis.com/css?family=Roboto);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }

.underline {
  background-color: #FFD812;
  padding: 2px; }

.user-case {
  padding: 1rem;
  border: 1px solid #696969; }

.mb-2 {
  margin-bottom: 1.5rem; }

.list--number {
  counter-reset: my-awesome-counter; }
  .list--number li {
    margin-bottom: 1.75rem;
    counter-increment: my-awesome-counter; }
    .list--number li::before {
      content: counter(my-awesome-counter);
      font-weight: bold;
      margin-right: 0.5rem;
      background-color: #FFD812;
      padding: .25rem .5rem;
      line-height: 1; }

.list--options li {
  margin-bottom: 1.75rem;
  position: relative;
  padding-left: 30px; }
  .list--options li::before {
    content: '';
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #FFD812;
    position: absolute;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0); }

.d-flex {
  display: flex; }

.align-items-center {
  align-items: center; }

.mt-3 {
  margin-top: 3rem; }

.mr-1 {
  margin-right: .5rem; }

.width-1 {
  width: 1rem; }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 2.25rem;
  margin-bottom: 5.75rem;
  text-align: center; }
  h1:after {
    content: '';
    position: absolute;
    bottom: -35%;
    width: 10%;
    height: 7px;
    background-color: #FFD812;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1; }

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5em; }
  h2:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 20px;
    background-color: #FFD812;
    left: 0px;
    bottom: -7px; }

h3 {
  font-size: 1.25rem;
  margin-bottom: 1.5em; }
  h3.number::before {
    font-weight: bold;
    margin-right: 0.5rem;
    background-color: #FFD812;
    padding: .25rem .5rem;
    line-height: 1; }
  h3.number1::before {
    content: '1'; }
  h3.number2::before {
    content: '2'; }
  h3.number3::before {
    content: '3'; }

h1, h2, h3 {
  position: relative; }

section {
  margin-bottom: 3rem; }

p {
  margin-bottom: .75rem;
  line-height: 1.55;
  text-align: justify; }

main {
  padding-top: 2.5rem; }


/*# sourceMappingURL=styles.chunk.css.map*/